.add-button {
  /* z-index: 1; */
  width: 100%;
  max-width: 320px;
  height: 42px;
  border-radius: 8px;
  border: none;
  background: #004170;
  font-size: 18px;
  font-weight: 400;
  color: white;
  cursor: pointer;
  transition: box-shadow 0.5s;
}

.add-button:hover {
  box-shadow: 0 0 18px #004170;
  transition: box-shadow 0.3s;
}
